@import'fragment/about';
$col-w : #f5f5f5;
$col-t: rgba(0, 0, 20, .6);
$col-btn:#f9c131;
$col-fw : rgba(#fff, 0.6);
$col-wt: rgba(#e5e5e5, 0.85);
$col-h2:rgba(0, 0, 20, 1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
  font-family: Arial, Tahoma, san-serif;
  font-size: 16px;
  font-weight: 200;
   background-color: rgba(0, 0, 15, 1);
}

//-------------------прелоудер  ---------------

.preloyder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 15, 1);
  ;
  z-index: 99;
}

.mfp-preloader {
  position: relative;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: -15px auto 0;
  animation: rotateplane 1.2s infinite ease-out;
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }

  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }

  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

// ---------------------

.conteiner-heder {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 12, 0.6);
     background-size: cover;
  }

}

.wrap {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

// ----------------heder------------------
.lain-top  {
  position: absolute;
  width: 100%;
  height: 14vh;
  color: #f5f5f5;
  background-color: rgba(0, 0, 12, 0.6);
  z-index: 3;

}
.wrap-top{
  position: relative;
  width: 80%;
  height: 15vh;
  margin: 0 10% ;
  display: grid;
  align-items: center;
}


.logo {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  color: $col-w;
   z-index: 5;

  & span {
    padding: 15px 0;
  }
}




.phon-top {
  position: absolute;
  right: 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;

}

.lain-top .fa-bars {
 
  position: absolute;
  right: 3%;
  color: $col-w;
  opacity: .8;
  font-size: 25px;
  transform: none;
  margin-top: -13px;
  &:hover {
    opacity: 1;
  }
}

#leng-top{
  display:block;
  position: absolute;
  right: -5%;
  & a {
  color: $col-w;
  opacity: .8;
  font-size: 20px;
  text-decoration:none;
  
  &:hover {
    opacity: 1;
  }}
}

// -------menu mini-heder-------------------
.min-nav-heder {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  width: 300px;
  height: auto;
  padding: 30px 10px 40px 30px;
  background-color:#001;
  & a {
    display: block;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0 10px;
    color: $col-w;
    opacity: .75;
    transition: opacity .25s ease;

    &:hover {
      opacity: 1;
      transition: opacity .25s ease;
    }
  }
}



// ----canvas----
.fa {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  transform: translateY(10px) translateX(-30px);
  color: black;
}




// ------text-heder------------

.text-heder {
  position: relative;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.wrap .h1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: flex;
  z-index: 2;
  .cont-text-heder {
    width: 90%;
    margin: auto;
    text-align: center;
    color: $col-w;
    & h1 {
      font-size: 46px;
      padding: 15px;
    } //-----------------------
    & .slogan{
      font-size: 23px;
       font-style: italic;
      font-family: serif;
    } //---------------
    & .btn-prais{
      margin-top: 30px;
    }
    & .text-h2{
      transform: translateY(200%);
      text-transform: uppercase;
      font-size: 20px;
    }
  }
}
#ser , #ser2, #ser3{
  color: $col-w;
}


.logo-m {
  display: inline-block;
  font-family:'Times New Roman', Times, serif;
  font-size: 22px;
  padding-right: 10px;
  color: $col-t;
  font-weight: 900;
  white-space : nowrap; 
}

.btn {
  padding: 10px 30px;
  font-size: 18px;
  color: rgba($color: #000000, $alpha: .7);
  background-color: $col-btn;
  border: none;
  outline: none;
  border-bottom: #d19905 3px solid;
  border-radius: 3px;
  transition: all 0.25s ease;

  &:hover {
    cursor: pointer;
    color: #000;
    box-shadow: 0px 1px 0px #b78604;
  }

  &:active {
    opacity: .8;
  }
}

.lain-botton {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17vh;
  color: #f5f5f5;
  background-color: rgba(0, 0, 12, 0.6);
  z-index: 3;
}




// ----------------button up -------------
.btn-up {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: -100px;
  border-radius: 50%;
  line-height: 60px;
  background-color: $col-t;
  opacity: .6;
  z-index: 10;
  cursor: pointer;
  transition: all .25s ease;

  .fa-angle-up {
    transform: translateY(0%) translateX(45%);
    font-size: 50px;
    color: $col-w;
  }

  &:hover {
    opacity: 1;
    color: #ffffff;
  }

  &.act {
    right: 30px;
  }
}

// --------------main------------

// ---------------------s-mash-bild ---------
.cont-mash-bild {
  position: relative;
  width: 100%;
  min-height: 600px;
  height: auto;


  &::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 180px;
    background-color: rgba(#e4e4e4, 0.9);
    background-size: cover;
    overflow: hidden;
    z-index: 1;
  }
}

.mash-grid {
  position: absolute;
  width: 100%;
  min-height: 600px; //
  height: auto;
  display: grid;
  grid-template-columns: 1fr ;


}

.mash-bild,
.heig1 {
  width: 80%;
  left: 10%;
  height: auto;
  position: absolute;
  z-index: 2;
  text-align: center;


}




.wrapperA{

  margin-top: 40px;
  background   : url(/img/fon-gaik.jpg) no-repeat  50%  50%  / cover ;

  & h2 {
    display: inline-block;
    width: 100%;
    color: $col-w;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 20px 0 ;
    background-color: rgba($col-t, .7);
    border-bottom: #f7f7f7 1px solid;
    cursor: pointer;
  }
}
.anima-wrapperA{
  background-image: none;

}


.wrapper {
  & h3 {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 0;
    color: $col-h2;
    background-color: rgba($col-t, .1);
    border-bottom: #f7f7f7 1px solid;
    cursor: pointer;
  }

  & article {
    background-color: rgba($col-w, .6);
    font-size: 16px;
    text-align: left;
    padding: 15px 15px 15px 10%;
    border-bottom: $col-t 1px solid;

    & ul {
      list-style-type: none;

      & li {
        padding: 10px 0;

      }
    }
  }
}

.icon {
  display: inline-block;
  margin-right: 10px;
  transform: translateY(2px);
}



// --------------sertificat------------------------
#cont-up ,#cont-up2 {
  display: none;
}

.sert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 15, 0.7);
  background-size: cover;
  z-index: 99;

  & .img-sert {
    background-size: cover;
    color: $col-w;


    & img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: auto;
      transform: translateX(-50%) translateY(-50%);

    }

    #boss , #boss2 {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      z-index: 1;
      font-size: 36px;
    }

    & #x-sertf , #x-sertf2 {
      position: absolute;
      top: 5%;
      right: 10%;
      font-size: 25px;
      color: $col-w;
      opacity: .6;

      &:hover {
        opacity: 1;
      }
    }
  }
}





//--------------------- s-zakaz--------

.s-zakaz {
  display: none;
}
.wind-zakaz{
  display: block;
  text-align: center;
  color: $col-w;
  padding: 5vh 10% ; 

  & p{
    padding: 5px 40px;
  }
}
map-sklad2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
}
#zak{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-45%);
  height: 60vh;
  width: 60vw;
  border: $col-wt 5px solid;
  border-radius: 5px;
}
#x-form {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 25px;
  color: $col-w;
  opacity: .6;
  cursor: pointer;
  &:hover {
    opacity: 1;
    color: $col-w;
  }
}




// ---------------s-firma -------------------
.cont-firma {
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 12, 0.8);
  color: $col-w;

  & h3 {
    padding: 20px 0 25px;
   }
}
//-----------slider partner-------
.cont-slid-top {
padding-top: 10px;

  & .top-firm{
    margin: 5px 10px;
    outline: none;
    text-align: center;
    font-size: 14px;
    opacity: .8;
    & img {
      height: 20px;
      margin: auto;
      margin-bottom: 5px;

    }
  }
}

.cont-slid {
  padding-bottom: 30px;
  .firm{
    margin: 0 10px;
    outline: none;
    font-size: 16px;
    & img {
      height: 30px;
      margin: auto;
      margin-bottom: 20px;
    }
  }
}

.arrow {
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  padding: 0 10px;
  border: none;
  outline: none;
  color: $col-w;
}

.prev {
  position: absolute;
  right: -5%;
  top: 10%;
}

.next {
  position: absolute;
  left: -5%;
  top: 10%;
}



// -----------------s-contact----------------------
.conteiner-contact {
  position: relative;
  height: 80vh;
  background-color: rgba(0, 0, 15, .85);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
     background-size: cover;
     z-index: -1;
  }

  & h2 {
    text-align: center;
    font-size: 24px;
    padding: 20px 0;
    color: $col-w;
    background-color: rgba($col-t, .4);
  }
}

.cont-contact-grid {
  width: 100%;
  height:70vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
  margin-top:-20px;
  align-content:center ;

  .text-contact {
    font-size: 16px;
    display: grid;
    padding-left: 15px;
    color: $col-w;
    line-height: 1.5;

    .fa-map-marker,
    .fa-mobile,
    .fa-phone,
    .fa-envelope-o {
      margin: 0;
      padding: 0;
      left: 5px;
      color: $col-w;
      opacity: .6;
    }

   
    & h3 {
      padding: 5px 0 5px;
    }

    & h4 {
      padding: 0;
    }
  }

 .text-contact-sclad{
    position: relative;
    font-size: 16px;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr ;
    padding-left: 14%; 
    color: $col-w;
    line-height: 1.5;
 

    .sclad {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .sclad-text  {
        grid-column: 1/2;
      }

      .b-skl {
        grid-column: 2/2;
        display: inline-block;
        align-self:start;
        justify-self: end; 
        .b1{
          margin: 15px 0; 
         }

      }

    }
    
      & .sclad2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        & .sclad-text2 {
          grid-column: 1/2;
 
        }
  
        .b-skl2 {
          grid-column: 2/2;
          display: inline-block;
          align-self:start;
          justify-self: end;

        }
        .b2{
         margin: 15px 0; 
        }
      }
  }
}

.fa-fw {
    margin: 0;
    padding: 0;
    left: 13%;
    color: $col-w;
    opacity: .6;
    transform: translateX(-36px) translateY(2px); 
  width: 20px;
}
// ---------------conteiner-futer-------
.conteiner-futer {
  width: 100%;
  height: 20vh;
  max-height: 150px;
  background-color: rgba(0, 0, 12, 1);

  .wrap-footer {
    bottom: 15%;
  }

  .logo-f{
    bottom: 25%;
  }
  .nav-footer {
    display: inline-block;
    position: absolute;
    bottom: 25%;
    left: 15%;
    padding: 5px;
  
    & a {
      text-decoration: none;
      white-space: nowrap;
      font-size: 1.2em;
      padding: 0 10px;
      color: $col-w;
      opacity: .6;
      transition: opacity .25s ease;
  
      &:hover {
        opacity: 1;
        transition: opacity .25s ease;
      }
    }
  }

  .btn-footer {
    position: absolute;
    right: 0;
    bottom: 20%;
    display: inline-bloc;
  }
}


// 000000000000000000---hidden----00000000000000
.canvas-ru{
  display: none;
}
.note h2{
  transform: translateY(30vh);
  color: #000;
  font-size: 30px;
}
.blok-form-zak {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height:500px;
  transform: translateX(-50%) translateY(-50%);
  background-color: $col-wt;
  color:  #555;

     & h2{
      text-transform: uppercase;
      font-size: 24px;
      text-align: center;
      padding: 30px 0 0;
        color: #555;
      }
     & p {
      text-align: center;
      font-size: 16px;
    }
  
   
    & label> input,
    textarea {
      display: inline-block;
      width: 90%;
      margin-bottom: 15px;
      background: transparent;
      border: $col-h2 1px solid;
      font-size: 16px;
      padding: 5px 20px;
      color: $col-t;
      outline: none;
  
      &::placeholder {
        color: $col-t;
      }
  
      &:focus {
        background-color: $col-w;
      }
    }
  
    .form-container__btn {
      display: block;
      background-color: #ff8040;
      margin: 0px auto 20px;
      border-bottom: #f45000 4px solid;
      border-radius: 3px;
      transition: all 0.25s ease;
  
      &:hover {
        cursor: pointer;
        color: #000;
        box-shadow: 0px 2px 0px #ec4d00;
      }
    }
    #f-x {
      position: absolute;
      top: 0%;
      right: -3%;
      font-size: 25px;
      color: $col-w;
      opacity: .6;
      cursor: pointer;
      &:hover {
        opacity: 1;
        color: $col-w;
      }
    }
  

  

}
@media only screen and (max-width:790px){
  .blok-form-zak  {
    & h2{
      padding: 40px 0 30px;
    }
  }

}

@media only screen and (max-width:610px){
  .blok-form-zak {
    width: 80%;
    height:90%;
  }
}
//===========form google==========
.form-x{
  color: $col-w;
}
#form-google{
  width: 100%;
  height: 90vh;
}

// =======================================================

@import 'fragment/media';