header .invert {
  height: 15vh;
}

header .invert .lain-top {
  position: relative;
  width: 100%;
  height: 15vh;
  padding-bottom: 5px;
  color: #f5f5f5;
  background-color: rgba(0, 0, 12, 0.8);
}

header .invert .lain-top .nav-heder {
  white-space: nowrap;
}

#logo-about-top {
  text-decoration: none;
  color: #f5f5f5;
}

.s-about, .s-boltMash1 {
  background-color: rgba(228, 228, 228, 0.9);
}

#about {
  min-height: 65vh;
}

#about h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #000014;
  font-size: 32px;
  padding: 30px 30px 20px;
  white-space: nowrap;
}

.about-text > img {
  width: 300px;
  border-radius: 5px;
  margin: 0 40px 20px;
}

.about-text {
  padding: 0px 0px 40px;
}

.about-text .about-logo {
  margin-right: 10px;
}

.about-text p {
  padding-left: 20px;
  padding-bottom: 10px;
  line-height: 1.2;
}

.about-text p b {
  padding-left: 40px;
}

.about-text .fa-check {
  color: #444444;
  -webkit-transform: translateX(10px) translateY(0px);
          transform: translateX(10px) translateY(0px);
}

@media only screen and (max-width: 821px) {
  .about-text {
    display: block;
  }
  .about-text img {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 450px) {
  #about h2 {
    font-size: 26px;
  }
  .about-text > img {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  .about-text > p {
    padding-left: 10px;
  }
  #about h2 {
    font-size: 18px;
  }
}

.conteiner-futer-pages {
  min-height: 20vh;
}

.conteiner-futer {
  background-color: rgba(0, 0, 12, 0.8);
}

.ab-img {
  background-position: center;
}

.cont-calck {
  position: relative;
  height: 65vh;
  min-height: 380px;
  max-height: 1750px;
  text-align: center;
}

.cont-calck h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #000014;
  font-size: 32px;
  padding: 40px 0px 20px;
}

.cont-wind {
  width: 100%;
  height: 0px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wind-calck {
  width: 30%;
  min-width: 300px;
  height: 0px;
  margin: auto;
  background-color: #f5f5f5;
  opacity: 0;
}

#rezul {
  font-family: serif;
  font-size: 40px;
  line-height: 150px;
  color: rgba(0, 0, 12, 0.8);
}

.cont-calck .calck-wrap {
  width: 100%;
  height: auto;
}

.calck-wrap {
  position: relative;
}

.calck-menu {
  position: absolute;
  display: block;
}

.calck-menu ul li {
  list-style-type: none;
  font-size: 20px;
  padding: 10px 30px;
  border-bottom: #e4e4e4 1px solid;
  border-right: #e4e4e4 1px solid;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  z-index: 2;
}

.calck-menu ul li:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: rgba(0, 0, 20, 0.9);
  opacity: 1;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
}

.calck-menu .c-menu-wrap {
  position: absolute;
  display: inline-block;
  width: 20vw;
  height: auto;
  left: 0px;
  background-color: #bebebe;
}

.calck-menu .gost-wrap {
  list-style-type: none;
  position: absolute;
  display: none;
  width: 0;
  height: auto;
  left: 20vw;
  z-index: 2;
  opacity: 0;
  background-color: #a5a5a5;
}

.calck-menu .saze-wrap {
  position: absolute;
  display: none;
  width: 0px;
  height: auto;
  left: 40vw;
  opacity: 0;
  z-index: 2;
  background-color: #bebebe;
}

.calck-menu .sazL-wrap {
  position: absolute;
  display: none;
  width: 0px;
  height: auto;
  left: 60vw;
  opacity: 0;
  z-index: 2;
  background-color: #a5a5a5;
}

.btn-calck {
  font-size: 20px;
  padding: 10px 30px;
  background-color: rgba(0, 0, 20, 0.2);
  border-left: rgba(0, 0, 20, 0.8) 1px solid;
  border-right: rgba(0, 0, 20, 0.8) 1px solid;
  border-bottom: none;
  border-top: none;
  outline: none;
  -webkit-box-shadow: 0px 2px 0px rgba(0, 0, 20, 0.8);
          box-shadow: 0px 2px 0px rgba(0, 0, 20, 0.8);
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  z-index: 1;
}

.btn-calck:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 20, 0.9);
  -webkit-box-shadow: 0px 2px 0px #000014;
          box-shadow: 0px 2px 0px #000014;
}

#number {
  text-align: center;
  font-size: 18px;
}

#formCalk {
  text-align: center;
  padding-bottom: 60px;
  font-size: 28px;
}

#formCalk .centr-wrap, #formCalk .inpu-wrap, #formCalk .bat {
  display: inline-block;
}

#formCalk .rad {
  width: 20px;
  height: 20px;
  margin: 0 20px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

#formCalk .inpu-wrap {
  text-align: center;
  width: 20vw;
}

#formCalk .inpu-wrap #number {
  height: 50px;
  width: 100%;
  background-color: #f7f7f7;
  margin-top: 10px;
}

#formCalk .rad-wrap {
  text-align: center;
  padding-top: 20px;
  padding-right: 10px;
}

#formCalk .bat {
  position: absolute;
  right: 0;
  z-index: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Tahoma, san-serif;
  font-size: 16px;
  font-weight: 200;
  background-color: #00000f;
}

.preloyder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000f;
  z-index: 99;
}

.mfp-preloader {
  position: relative;
  top: 50%;
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: -15px auto 0;
  -webkit-animation: rotateplane 1.2s infinite ease-out;
          animation: rotateplane 1.2s infinite ease-out;
}

@-webkit-keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

@keyframes rotateplane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

.conteiner-heder {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}

.conteiner-heder::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 12, 0.6);
  background-size: cover;
}

.wrap {
  position: relative;
  width: 80%;
  height: 100%;
  margin: auto;
}

.lain-top {
  position: absolute;
  width: 100%;
  height: 14vh;
  color: #f5f5f5;
  background-color: rgba(0, 0, 12, 0.6);
  z-index: 3;
}

.logo {
  position: absolute;
  bottom: 20%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  color: #f5f5f5;
  z-index: 5;
}

.logo span {
  padding: 15px 0;
}

.phon-top {
  position: absolute;
  bottom: 27%;
  right: 10%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
}

.lain-top .fa-bars {
  display: block;
  position: absolute;
  bottom: 35%;
  right: 0%;
  padding: 5px 10px;
  color: #f5f5f5;
  opacity: .8;
  font-size: 25px;
}

.lain-top .fa-bars:hover {
  opacity: 1;
}

#leng-top {
  display: block;
  position: absolute;
  bottom: 25%;
  right: -5%;
  padding: 5px 10px;
}

#leng-top a {
  color: #f5f5f5;
  opacity: .8;
  font-size: 20px;
  text-decoration: none;
}

#leng-top a:hover {
  opacity: 1;
}

.min-nav-heder {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 3;
  width: 300px;
  height: auto;
  padding: 30px 10px 40px 30px;
  background-color: #001;
}

.min-nav-heder a {
  display: block;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 10px;
  color: #f5f5f5;
  opacity: .6;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.min-nav-heder a:hover {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.fa {
  position: absolute;
  z-index: 2;
  font-size: 20px;
  -webkit-transform: translateY(10px) translateX(-30px);
          transform: translateY(10px) translateX(-30px);
  color: black;
}

.cont-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.text-heder {
  position: relative;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.wrap .h1 {
  position: absolute;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
}

.wrap .h1 .cont-text-heder {
  width: 90%;
  margin: auto;
  text-align: center;
  color: #f5f5f5;
}

.wrap .h1 .cont-text-heder h1 {
  font-size: 46px;
  padding: 15px;
}

.wrap .h1 .cont-text-heder .slogan {
  font-size: 26px;
  font-style: italic;
  font-family: serif;
}

.wrap .h1 .cont-text-heder .btn-prais {
  margin-top: 30px;
}

.wrap .h1 .cont-text-heder .text-h2 {
  -webkit-transform: translateY(200%);
          transform: translateY(200%);
  text-transform: uppercase;
  font-size: 20px;
}

#ser, #ser2, #ser3 {
  color: #f5f5f5;
}

.logo-m {
  display: inline-block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  padding-right: 10px;
  color: rgba(0, 0, 20, 0.6);
  font-weight: 900;
  white-space: nowrap;
}

.btn {
  padding: 10px 30px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f9c131;
  border: none;
  outline: none;
  border-bottom: #d19905 3px solid;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.btn:hover {
  cursor: pointer;
  color: #000;
  -webkit-box-shadow: 0px 1px 0px #b78604;
          box-shadow: 0px 1px 0px #b78604;
}

.btn:active {
  opacity: .8;
}

.lain-botton {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 17vh;
  color: #f5f5f5;
  background-color: rgba(0, 0, 12, 0.6);
  z-index: 3;
}

.btn-up {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: -100px;
  border-radius: 50%;
  line-height: 60px;
  background-color: rgba(0, 0, 20, 0.6);
  opacity: .6;
  z-index: 10;
  cursor: pointer;
  -webkit-transition: all .25s ease;
  transition: all .25s ease;
}

.btn-up .fa-angle-up {
  -webkit-transform: translateY(0%) translateX(45%);
          transform: translateY(0%) translateX(45%);
  font-size: 50px;
  color: #f5f5f5;
}

.btn-up:hover {
  opacity: 1;
  color: #ffffff;
}

.btn-up.act {
  right: 30px;
}

.cont-mash-bild {
  position: relative;
  width: 100%;
  min-height: 600px;
  height: auto;
}

.cont-mash-bild::after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  top: 0;
  bottom: 180px;
  background-color: rgba(228, 228, 228, 0.9);
  background-size: cover;
  overflow: hidden;
  z-index: 1;
}

.mash-grid {
  position: absolute;
  width: 100%;
  min-height: 600px;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.mash-bild,
.heig1 {
  width: 80%;
  left: 10%;
  height: auto;
  position: absolute;
  z-index: 2;
  text-align: center;
}

.wrapperA {
  margin-top: 40px;
  background: url(/img/fon-gaik.jpg) no-repeat 50% 50%/cover;
}

.wrapperA h2 {
  display: inline-block;
  width: 100%;
  color: #f5f5f5;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  padding: 20px 0;
  background-color: rgba(0, 0, 20, 0.7);
  border-bottom: #f7f7f7 1px solid;
  cursor: pointer;
}

.anima-wrapperA {
  background-image: none;
}

.wrapper h3 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0;
  color: #000014;
  background-color: rgba(0, 0, 20, 0.1);
  border-bottom: #f7f7f7 1px solid;
  cursor: pointer;
}

.wrapper article {
  background-color: rgba(245, 245, 245, 0.6);
  font-size: 16px;
  text-align: left;
  padding: 15px 15px 15px 10%;
  border-bottom: rgba(0, 0, 20, 0.6) 1px solid;
}

.wrapper article ul {
  list-style-type: none;
}

.wrapper article ul li {
  padding: 10px 0;
}

.icon {
  display: inline-block;
  margin-right: 10px;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

#cont-up, #cont-up2 {
  display: none;
}

.sert {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 15, 0.7);
  background-size: cover;
  z-index: 99;
}

.sert .img-sert {
  background-size: cover;
  color: #f5f5f5;
}

.sert .img-sert img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.sert .img-sert #boss, .sert .img-sert #boss2 {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  font-size: 36px;
}

.sert .img-sert #x-sertf, .sert .img-sert #x-sertf2 {
  position: absolute;
  top: 5%;
  right: 10%;
  font-size: 25px;
  color: #f5f5f5;
  opacity: .6;
}

.sert .img-sert #x-sertf:hover, .sert .img-sert #x-sertf2:hover {
  opacity: 1;
}

.s-zakaz {
  display: none;
}

.wind-zakaz {
  display: block;
  text-align: center;
  color: #f5f5f5;
  padding: 4% 20% 0;
}

.wind-zakaz p {
  padding: 5px 40px;
}

map-sklad2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-45%);
          transform: translateX(-50%) translateY(-45%);
}

#zak {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-45%);
          transform: translateX(-50%) translateY(-45%);
  height: 60vh;
  width: 60vw;
  border: rgba(229, 229, 229, 0.85) 5px solid;
  border-radius: 5px;
}

#x-form {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 25px;
  color: #f5f5f5;
  opacity: .6;
  cursor: pointer;
}

#x-form:hover {
  opacity: 1;
  color: #f5f5f5;
}

.cont-firma {
  position: absolute;
  width: 100%;
  height: 180px;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 12, 0.8);
  color: #f5f5f5;
}

.cont-firma h3 {
  padding: 20px 0 25px;
}

.cont-slid-top {
  padding-top: 10px;
}

.cont-slid-top .top-firm {
  margin: 5px 10px;
  outline: none;
  text-align: center;
  font-size: 14px;
  opacity: .8;
}

.cont-slid-top .top-firm img {
  height: 20px;
  margin: auto;
  margin-bottom: 5px;
}

.cont-slid {
  padding-bottom: 30px;
}

.cont-slid .firm {
  margin: 0 10px;
  outline: none;
  font-size: 16px;
}

.cont-slid .firm img {
  height: 30px;
  margin: auto;
  margin-bottom: 20px;
}

.arrow {
  cursor: pointer;
  font-size: 30px;
  background-color: transparent;
  padding: 0 10px;
  border: none;
  outline: none;
  color: #f5f5f5;
}

.prev {
  position: absolute;
  right: -5%;
  top: 10%;
}

.next {
  position: absolute;
  left: -5%;
  top: 10%;
}

.conteiner-contact {
  height: 80vh;
  background-color: rgba(0, 0, 15, 0.85);
}

.conteiner-contact h2 {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
  color: #f5f5f5;
  background-color: rgba(0, 0, 20, 0.4);
}

.cont-contact-grid {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  grid-column-gap: 30px;
  margin-top: 20px;
}

.cont-contact-grid .text-contact {
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  padding-left: 15px;
  color: #f5f5f5;
  line-height: 1.5;
}

.cont-contact-grid .text-contact .fa-map-marker,
.cont-contact-grid .text-contact .fa-mobile,
.cont-contact-grid .text-contact .fa-phone,
.cont-contact-grid .text-contact .fa-envelope-o {
  margin: 0;
  padding: 0;
  left: 5px;
  color: #f5f5f5;
  opacity: .6;
}

.cont-contact-grid .text-contact h3 {
  padding: 5px 0 5px;
}

.cont-contact-grid .text-contact h4 {
  padding: 0;
}

.cont-contact-grid .text-contact-sclad {
  position: relative;
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  height: 100%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  padding-left: 14%;
  color: #f5f5f5;
  line-height: 1.5;
}

.cont-contact-grid .text-contact-sclad .sclad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.cont-contact-grid .text-contact-sclad .sclad .sclad-text {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.cont-contact-grid .text-contact-sclad .sclad .b-skl {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: inline-block;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

.cont-contact-grid .text-contact-sclad .sclad .b-skl .b1 {
  margin: 15px 0;
}

.cont-contact-grid .text-contact-sclad .sclad2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.cont-contact-grid .text-contact-sclad .sclad2 .sclad-text2 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.cont-contact-grid .text-contact-sclad .sclad2 .b-skl2 {
  -ms-grid-column: 2;
  grid-column: 2/2;
  display: inline-block;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  -ms-grid-column-align: end;
      justify-self: end;
}

.cont-contact-grid .text-contact-sclad .sclad2 .b2 {
  margin: 15px 0;
}

.fa-fw {
  margin: 0;
  padding: 0;
  left: 13%;
  color: #f5f5f5;
  opacity: .6;
  -webkit-transform: translateX(-36px) translateY(2px);
          transform: translateX(-36px) translateY(2px);
  width: 20px;
}

.conteiner-futer {
  width: 100%;
  height: 20vh;
  max-height: 150px;
  background-color: #00000c;
}

.conteiner-futer .wrap-footer {
  bottom: 15%;
}

.conteiner-futer .nav-footer {
  display: inline-block;
  position: absolute;
  bottom: 20%;
  left: 15%;
  padding: 5px;
}

.conteiner-futer .nav-footer a {
  text-decoration: none;
  white-space: nowrap;
  font-size: 1.2em;
  padding: 0 10px;
  color: #f5f5f5;
  opacity: .6;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.conteiner-futer .nav-footer a:hover {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.conteiner-futer .btn-footer {
  position: absolute;
  right: 0;
  bottom: 20%;
  display: inline-bloc;
}

.canvas-ru {
  display: none;
}

.blok-form-zak {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 500px;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-color: rgba(229, 229, 229, 0.85);
  color: #555;
}

.blok-form-zak h2 {
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  padding: 30px 0 0;
  color: #555;
}

.blok-form-zak p {
  text-align: center;
  font-size: 16px;
}

.blok-form-zak label > input,
.blok-form-zak textarea {
  display: inline-block;
  width: 90%;
  margin-bottom: 15px;
  background: transparent;
  border: #000014 1px solid;
  font-size: 16px;
  padding: 5px 20px;
  color: rgba(0, 0, 20, 0.6);
  outline: none;
}

.blok-form-zak label > input::-webkit-input-placeholder,
.blok-form-zak textarea::-webkit-input-placeholder {
  color: rgba(0, 0, 20, 0.6);
}

.blok-form-zak label > input:-ms-input-placeholder,
.blok-form-zak textarea:-ms-input-placeholder {
  color: rgba(0, 0, 20, 0.6);
}

.blok-form-zak label > input::-ms-input-placeholder,
.blok-form-zak textarea::-ms-input-placeholder {
  color: rgba(0, 0, 20, 0.6);
}

.blok-form-zak label > input::placeholder,
.blok-form-zak textarea::placeholder {
  color: rgba(0, 0, 20, 0.6);
}

.blok-form-zak label > input:focus,
.blok-form-zak textarea:focus {
  background-color: #f5f5f5;
}

.blok-form-zak .btn-form {
  display: block;
  background-color: #ff8040;
  margin: 0px auto 20px;
  border-bottom: #f45000 4px solid;
  border-radius: 3px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.blok-form-zak .btn-form:hover {
  cursor: pointer;
  color: #000;
  -webkit-box-shadow: 0px 2px 0px #ec4d00;
          box-shadow: 0px 2px 0px #ec4d00;
}

.blok-form-zak #f-x {
  position: absolute;
  top: 0%;
  right: -3%;
  font-size: 25px;
  color: #f5f5f5;
  opacity: .6;
  cursor: pointer;
}

.blok-form-zak #f-x:hover {
  opacity: 1;
  color: #f5f5f5;
}

@media only screen and (max-width: 790px) {
  .blok-form-zak h2 {
    padding: 40px 0 30px;
  }
}

@media only screen and (max-width: 610px) {
  .blok-form-zak {
    width: 80%;
    height: 90%;
  }
}

@media only screen and (max-width: 1330px) {
  .lain-top .fa-bars {
    display: block;
  }
  .conteiner-futer .nav-footer {
    left: 12%;
  }
}

@media only screen and (max-width: 1200px) {
  .cont-text-heder {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  .conteiner-futer .nav-footer {
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
  .cont-text-heder {
    width: 100%;
  }
  .cont-text-heder h1 {
    font-size: 36px;
    padding: 15px 0;
  }
  .wind-zakaz span {
    display: none;
  }
  .wind-zakaz #x-form {
    top: 5%;
    right: 10%;
  }
  .btn-calck {
    display: block;
    margin: auto;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 992px) {
  .phon-top {
    font-size: 24px;
    padding-right: 20px;
    right: 15%;
  }
  .text-heder {
    width: 100%;
  }
  .text-heder p {
    font-size: 16px;
  }
  .mash-bild {
    width: 100%;
    left: 0;
  }
  #cont-up .sert .img-sert {
    font-size: 85px;
  }
  #cont-up .sert .img-sert img {
    width: 70%;
  }
  #boss, #boss2 {
    font-size: 26px;
  }
  .conteiner-contact {
    height: 700px;
  }
  .conteiner-contact .cont-contact-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    grid-gap: 15px;
  }
  .conteiner-contact .cont-contact-grid .text-contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  .conteiner-contact .cont-contact-grid .text-contact .ofis {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .conteiner-contact .cont-contact-grid .text-contact .ofis-fon {
    -ms-grid-column: 2;
    grid-column: 2/2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -ms-grid-column-align: end;
        justify-self: end;
    padding-right: 50px;
  }
  .conteiner-contact .cont-contact-grid .text-contact-sclad {
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    height: auto;
    padding-left: 15px;
    padding-bottom: 50px;
  }
  .f {
    color: #f5f5f5;
    opacity: .6;
    -webkit-transform: translateX(50vw) translateY(2px);
            transform: translateX(50vw) translateY(2px);
  }
  .fa-fw {
    left: 0%;
  }
}

@media only screen and (max-width: 790px) {
  .wrap .h1 .cont-text-heder h1 {
    font-size: 36px;
    padding: 15px 0;
  }
  .wrap .h1 .cont-text-heder .slogan {
    font-size: 22px;
  }
  .wrap .h1 .cont-text-heder p, .wrap .h1 .cont-text-heder .text-h2 {
    font-size: 16px;
  }
  .wind-zakaz p {
    display: none;
  }
  .wind-zakaz #x-form {
    right: 5%;
  }
  #zak {
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    height: 70vh;
    width: 90vw;
  }
}

@media only screen and (max-width: 700px) {
  .phon-top {
    font-size: 20px;
    padding-right: 20px;
    right: 15%;
  }
  .text-heder {
    width: 100%;
  }
  .cont-text-heder .btn-prais {
    margin-top: 15px;
  }
  #cont-up .sert .img-sert {
    font-size: 65px;
  }
  #cont-up .sert .img-sert img {
    width: 80%;
  }
  .cont-calck {
    min-height: 470px;
  }
  #formCalk {
    text-align: right;
  }
  #formCalk .centr-wrap, #formCalk .bat {
    display: block;
  }
  #formCalk .bat {
    right: 50px;
    margin-top: 20px;
  }
  #formCalk .inpu-wrap {
    width: 202px;
    margin-right: 20px;
  }
  #formCalk .rad-wrap {
    text-align: right;
  }
  .calck-menu .c-menu-wrap {
    width: 30vw;
    left: 0px;
  }
  .calck-menu .gost-wrap {
    min-width: 150px;
    left: 30vw;
  }
  .calck-menu .saze-wrap {
    min-width: 150px;
    left: 30vw;
  }
  .calck-menu .sazL-wrap {
    min-width: 150px;
    left: 30vw;
  }
}

@media only screen and (max-width: 610px) {
  .wrap {
    width: 90%;
  }
  .lain-top {
    padding-bottom: 10px;
  }
  .logo {
    font-size: 30px;
  }
  .phon-top {
    font-size: 20px;
    padding-right: 30px;
    right: 15%;
  }
  .lain-top .fa-bars {
    right: -4%;
    font-size: 26px;
    padding-bottom: 0;
  }
  #leng-top {
    bottom: -80%;
    right: 2%;
  }
  #leng-top a {
    font-size: 14px;
  }
  .cont-canvas {
    display: none;
  }
  .wrap .h1 .cont-text-heder {
    width: 100%;
  }
  .wrap .h1 .cont-text-heder h1 {
    font-size: 28px;
    padding: 15px 0;
  }
  .text-sert > p {
    text-align: inherit;
    padding: 30px 15px;
  }
  #cont-up .sert .img-sert {
    font-size: 45px;
  }
  .cont-firma .wrap > h2 > span {
    display: none;
  }
  .fa-map-marker, .fa-mobile, .fa-phone, .fa-envelope-o {
    display: none;
  }
}

@media only screen and (max-width: 520px) {
  .wrapperA h2 {
    font-size: 16px;
  }
  .wrapperA h3 {
    font-size: 16px;
  }
  .conteiner-contact {
    height: 800px;
  }
  .conteiner-contact .cont-contact-grid .text-contact {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
    width: 100%;
  }
  .conteiner-contact .cont-contact-grid .text-contact .ofis {
    -ms-grid-column: 1;
    grid-column: 1/1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .conteiner-contact .cont-contact-grid .text-contact .ofis-fon {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cont-contact-grid .text-contact-sclad .sclad {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .cont-contact-grid .text-contact-sclad .sclad .sclad-text, .cont-contact-grid .text-contact-sclad .sclad .sclad-text2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .cont-contact-grid .text-contact-sclad .sclad .b-skl, .cont-contact-grid .text-contact-sclad .sclad .b-skl2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    display: inline-block;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cont-contact-grid .text-contact-sclad .sclad .b-skl p, .cont-contact-grid .text-contact-sclad .sclad .b-skl2 p {
    display: none;
  }
  .cont-contact-grid .text-contact-sclad .sclad .b-skl .b1, .cont-contact-grid .text-contact-sclad .sclad .b-skl2 .b1 {
    margin: 15px 0;
  }
  .cont-contact-grid .text-contact-sclad .sclad2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
        grid-template-rows: auto auto;
  }
  .cont-contact-grid .text-contact-sclad .sclad2 .sclad-text2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .cont-contact-grid .text-contact-sclad .sclad2 .b-skl2 {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2/2;
    display: inline-block;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .cont-contact-grid .text-contact-sclad .sclad2 .b-skl2 p {
    display: none;
  }
  .cont-contact-grid .text-contact-sclad .sclad2 .b-skl2 .b2 {
    margin: 15px 0;
  }
}

@media only screen and (max-width: 460px) {
  .mash-grid {
    padding-top: 60px;
  }
  .cont-firma {
    border-top: rgba(255, 255, 255, 0.6) 1px solid;
    padding: 15px 0;
  }
  .cont-firma .w-firm {
    width: 86%;
  }
  .cont-firma .w-firm h3 > span {
    display: none;
  }
  .cont-firma .prev {
    right: -7%;
  }
  .cont-firma .next {
    left: -7%;
  }
  .mobil {
    display: none;
  }
  .cont-calck {
    height: 100vh;
    min-height: 850px;
  }
  .cont-calck h2 {
    font-size: 26px;
  }
  .cont-calck .cont-wind, .cont-calck .wind-calck {
    height: 150px;
    opacity: .8;
  }
  #rezul {
    font-size: 36px;
  }
  #number {
    margin-left: -5px;
  }
  #formCalk {
    text-align: center;
    padding-top: 260px;
  }
  #formCalk .bat {
    left: 10%;
  }
  #formCalk .inpu-wrap {
    width: 202px;
    margin-right: 0px;
  }
  #formCalk .rad-wrap {
    text-align: center;
  }
  .calck-menu {
    margin-left: 0%;
  }
  .calck-menu .c-menu-wrap {
    width: 45vw;
    left: 0px;
  }
  .calck-menu .gost-wrap {
    width: 40vh;
    left: 45vw;
  }
  .calck-menu .saze-wrap {
    width: 40vh;
    left: 45vw;
  }
  .calck-menu .sazL-wrap {
    width: 40vh;
    left: 45vw;
  }
  #boss, #boss2 {
    font-size: 18px;
  }
  .sert .img-sert #x-sertf, .sert .img-sert #x-sertf2 {
    top: 2%;
    right: 2%;
  }
  .btn-footer {
    padding: 10px 15px;
  }
  .logo-m {
    font-size: 18px;
  }
}

@media only screen and (max-width: 320px) {
  .wrap {
    width: 86%;
  }
  .wrap .h1 .cont-text-heder, .wrap .slogan {
    font-size: 12px;
  }
  .wrap .h1 .cont-text-heder h1, .wrap .slogan h1 {
    font-size: 20px;
  }
  .lain-top .fa-bars {
    display: none;
  }
  .phon-top {
    font-size: 18px;
    padding-right: 10px;
    right: 0%;
  }
  .sert-btn .b-s {
    display: block;
    margin: auto;
  }
  .cont-mash-bild {
    height: 640px;
  }
  .cont-mash-bild::after {
    bottom: 220px;
  }
  .cont-firma {
    height: 220px;
    padding-bottom: 30px;
  }
  #im1, #im2 {
    white-space: nowrap;
  }
  .text-contactB .text-contact .sclad {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 0.7fr;
        grid-template-rows: 1fr 0.7fr;
  }
  .text-contactB .text-contact .sclad .adr {
    padding-left: 20px;
  }
  .text-contactB .text-contact .sclad .sclad-text {
    padding-left: 20px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .text-contactB .text-contact .sclad .b-skl {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .conteiner-contact .cont-contact-grid .text-contactB .text-contact .phon-ofis {
    padding-left: 20px;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    -ms-grid-column-align: start;
        justify-self: start;
  }
  .btn-footer {
    display: none;
  }
  .wind-calck {
    min-width: 100%;
    font-size: 26px;
  }
}
/*# sourceMappingURL=style.css.map */